<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<!-- icons -->
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="/bower_components/core-item/core-item.html">
<link rel="import" href="/bower_components/core-icons/social-icons.html">
<link rel="import" href="/bower_components/core-icons/communication-icons.html">
<link rel="import" href="/bower_components/core-icons/av-icons.html">


<link rel="import" href="../button/select-button.html">

<polymer-element name="song-marker" attributes="
  time
  info
  name
  start
  stop
  mTop">
  <template>
    <LINK REL="StyleSheet" HREF="song-marker.css" TYPE="text/css" >
    <LINK REL="StyleSheet" HREF="../../gStyle.css" TYPE="text/css" >

    <paper-button on-click={{edit}} class="smalPaperButt">E</paper-button>
    {{visualTime}}
    <select-button id="startButt" class="extraRoom" on-click={{setStart}} >{{name}}</select-button>
    <select-button id="stopButt"  on-click={{setStop}}>stop</select-button>
    <paper-icon-button icon="info"></paper-icon-button>
    <content></content>







    <paper-dialog id="editDialog" heading="Edit marker">
      <div>
        <span>Name: </span><paper-input value={{name}}></paper-input>
      </div>
      <div>
        <span>Time: </span><paper-input value={{visualTime}}></paper-input>
      </div>
      <div>
        <span>Remove: </span><paper-button class="closeOnPress" id="pbR"  on-click={{removeMe}}>Remove</paper-button>
      </div>
      <div style="display: flex">
        <div style="flex: 1"></div>
        <paper-button affirmative default class="closeOnPress" id="pbOK" on-click={{editOK}}>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script src="song-marker.js"></script>

</polymer-element>