<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<!-- icons -->
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="/bower_components/core-item/core-item.html">
<link rel="import" href="/bower_components/core-icons/social-icons.html">
<link rel="import" href="/bower_components/core-icons/communication-icons.html">
<link rel="import" href="/bower_components/core-icons/av-icons.html">
<link rel="import" href="/bower_components/core-icons/image-icons.html">



<link rel="import" href="../button/select-button.html">

<polymer-element name="song-marker" attributes="
  time
  info
  name
  start
  stop
  mTop">
  <template>
    <LINK REL="StyleSheet" HREF="song-marker.css" TYPE="text/css" >
    <LINK REL="StyleSheet" HREF="../../gStyle.css" TYPE="text/css" >
    <paper-icon-button on-click={{showInfo}} icon="info-outline"></paper-icon-button>
    <paper-icon-button on-click={{edit}} icon="image:edit">E</paper-icon-button>
    {{visualTime}}
    <select-button id="startButt" class="extraRoom" on-click={{setStart}} >{{name}}</select-button>
    <select-button id="stopButt"  on-click={{setStop}}>stop</select-button>
    <content></content>







    <paper-dialog id="editDialog" heading="Edit marker">
      <div>
        <span>Name: </span><paper-input value={{name}}></paper-input>
      </div>
      <div> <!-- add "multiline" atribute to info paper input? -->
        <span>Info: </span>
        <paper-input value={{info}}></paper-input>
      </div>
      <div>
        <span>Time: </span><paper-input value={{visualTime}}></paper-input>
      </div>
      <div>
        <span>Remove: </span><paper-button class="closeOnPress" id="pbR"  on-click={{removeMeCheck}}>Remove</paper-button>
      </div>
      <div style="display: flex">
        <div style="flex: 1"></div>
        <paper-button affirmative default class="closeOnPress" id="pbOK" on-click={{editOK}}>OK</paper-button>
        <paper-button affirmative default class="closeOnPress" id="pbOK">Cancel</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="removeMeCheckDialog" heading="Remove marker">
      <div>
        Are you sure you want to remove the "{{name}}" marker?
      </div>
      <div style="display: flex">
        <div style="flex: 1"></div>
        <paper-button class="closeOnPress" on-click={{removeMe}}>Yes</paper-button>
        <paper-button class="closeOnPress">no</paper-button>
      </div>

    </paper-dialog>

    <paper-dialog id="infoDialog" heading={{name}}>
      <div>
        {{info}}
      </div>
      <div style="display: flex">
        <div style="flex: 1"></div>
        <paper-button class="closeOnPress">OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script src="song-marker.js"></script>

</polymer-element>