
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/core-localstorage/core-localstorage.html">

<polymer-element name="time-area" attributes="maxTime currentTime">
  <template>
    <LINK REL="StyleSheet" HREF="time-area.css" TYPE="text/css" >
    <LINK REL="StyleSheet" HREF="../../gStyle.css" TYPE="text/css" >


    <span>{{dispCurrentTime}}</span>/<span>{{dispMaxTime}}</span>
  </template>

  <script src="time-area.js"></script>

</polymer-element>

