<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../button/select-button.html">

<polymer-element name="time-nr-info" attributes="time loopTimesLeft mode zValue">
  <template>
    <LINK REL="StyleSheet" HREF="time-nr-info.css" TYPE="text/css" >
    <div class="{{mode}} flexParent">
      <div class="flexChildren">{{time}}</div>
      <div class="flexChildren">{{visualLoopTimesLeft}}</div>
    </div>
  </template>

  <script src="time-nr-info.js"></script>

</polymer-element>