:host{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50vh;
  visibility: visible;
  height: 90vh;
  height: calc(100vh - 50px);
  z-index: {{zValue}};
}

.flexParent{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flexChildren{
  display: flex;
  align-items: center;
}

.play{
  color: green;
}

.wait{
  color: yellow;
}

.pause{
  color: red;
}