<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="../my-slider/my-slider.html">

<polymer-element name="marker-list" attributes="
  id
  ">
  <template class="mainColor">
    <LINK REL="StyleSheet" HREF="marker-list.css" TYPE="text/css" >
    <LINK REL="StyleSheet" HREF="../../gStyle.css" TYPE="text/css" >



      <div id="activePlayRegion"></div>
      <div id="timeBarDiv">
<!--    <my-slider id="timeBar" min="0" max="42" value="0"></my-slider> -->
    <input id="timeBar" type="range" min="0" max="42" value="0"/>
      </div>
      <div id="markerList" >
        <content id=content></content>
      </div>


<!-- gammla:
    <div id=markers>
      <content id=content></content>
    </div>
-->
  </template>

  <script src="marker-list.js"></script>

</polymer-element>