<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-slider/paper-fab.html">

<polymer-element name="marker-list" attributes="
  id
  ">
  <template>
    <LINK REL="StyleSheet" HREF="marker-list.css" TYPE="text/css" >

    <div class="wrapper">
      <content id=content></content>
    </div>
  </template>

  <script src="marker-list.js"></script>

</polymer-element>