<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<polymer-element name="select-button" attributes="selected">
  <template>
    <LINK REL="StyleSheet" HREF="select-button.css" TYPE="text/css" >
    <LINK REL="StyleSheet" HREF="../../gStyle.css" TYPE="text/css" >
    <paper-button id="butt" on-click={{select}}><content></content></paper-button>
  </template>

  <script src="select-button.js"></script>

</polymer-element>

<polymer-element name="toggle-button" attributes="selected">
  <template>
    <LINK REL="StyleSheet" HREF="select-button.css" TYPE="text/css" >
    <LINK REL="StyleSheet" HREF="../../gStyle.css" TYPE="text/css" >
    <paper-button id="butt" on-click={{select}}><content></content></paper-button>
  </template>

  <script src="toggle-button.js"></script>

</polymer-element>