<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../button/select-button.html">
<link rel="import" href="../button/toggle-button.html">

<polymer-element name="onoff-value" attributes="
  value
  isOn
  offValue
  dbQuery">
  <template>
    <LINK REL="StyleSheet" HREF="onoff-value.css" TYPE="text/css" >
    <LINK REL="StyleSheet" HREF="../../gStyle.css" TYPE="text/css" >



    <toggle-button on-click={{toggleOnOff}} class="commonButtWidth" id="startButt">
      <content></content>
    </toggle-button>
    <paper-icon-button on-click={{supValue}} icon="remove"></paper-icon-button>
    <paper-icon-button on-click={{addValue}} icon="add"></paper-icon-button>
    <paper-input value="{{onValue}}"></paper-input>

  </template>

  <script src="onoff-value.js"></script>

</polymer-element>
