
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/core-localstorage/core-localstorage.html">

<polymer-element name="tap-tempo" attributes="tempo">
  <template>
    <LINK REL="StyleSheet" HREF="tap-tempo.css" TYPE="text/css" >


    <paper-button on-click={{tempoTapped}}>Tempo:</paper-button>
    <paper-input value="{{tempo}}"></paper-input>
  </template>

  <script src="tap-tempo.js"></script>

</polymer-element>

